/***** this is some customer help class *****/

.d-block {
    display: block;
}

.d-inline-block {
    display: inline-block;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.w100 {
    width: 100%;
}

.mb-8 {
    margin-bottom: 8px;
}

.glyphicon-star-active {
    color: $gold-color
}

.glyphicon-star-noneactive {
    color: #dadada;
}

.t-gray {
    color: $white-color;
}

.t-red {
    color: red;
}